# 12 MHz clock
set_io -nowarn CLK        35

# Onboard USB
set_io -nowarn USB_DET    37
set_io -nowarn USB_DN     38
set_io -nowarn USB_DP     42

# Onboard button and LEDs
set_io -nowarn BTN_N       2
set_io -nowarn LEDR_N     25
set_io -nowarn LEDG_N      6

# Onboard RGB LED (FPGA LED driver pins)
set_io -nowarn RGB_R_N    39
set_io -nowarn RGB_G_N    40
set_io -nowarn RGB_B_N    41

# SPI (FPGA hard IP)
set_io -nowarn SPI_SO     14
set_io -nowarn SPI_SI     17
set_io -nowarn SPI_SCK    15
set_io -nowarn SPI_CS_N   16

# QSPI for onboard Flash & PSRAM
set_io -nowarn QSPI_IO0   14
set_io -nowarn QSPI_IO1   17
set_io -nowarn QSPI_IO2   18
set_io -nowarn QSPI_IO3   19
set_io -nowarn QSPI_SCK   15
set_io -nowarn FLASH_CS_N 16
set_io -nowarn PSRAM_CS_N  6

# Pins (Teensy compatible pinout)
set_io -nowarn P0         47
set_io -nowarn P1         44
set_io -nowarn P2         48
set_io -nowarn P3         45
set_io -nowarn P4          4
set_io -nowarn P5          3
set_io -nowarn P6          9
set_io -nowarn P7         10
set_io -nowarn P8         11
set_io -nowarn P9         12
set_io -nowarn P10        21
set_io -nowarn P11        13
set_io -nowarn P12        20
# Other side
set_io -nowarn P13        25
set_io -nowarn P14        23
set_io -nowarn P15        27
set_io -nowarn P16        26
set_io -nowarn P17        28
set_io -nowarn P18        31
set_io -nowarn P19        32
set_io -nowarn P20        34
set_io -nowarn P21        36
set_io -nowarn P22        43
set_io -nowarn P23        46

# Convenient aliases for Teensy pinout

# Serial (P0 and P1)
set_io -nowarn UART_RX    47
set_io -nowarn UART_TX    44

# I2C (P18 and P19)
set_io -nowarn I2C_SDA    31
set_io -nowarn I2C_SCL    32
